<ion-view title="Academic Exam" id="academicExam">
  <ion-content padding="true" class="has-header">
    <div ng-show="!academicList">
      no item added
    </div>

    <div class="list card" ng-repeat="academicItem in academicList">

      <div class="item item-avatar">
        <img src="img/academic.jpg">
        <h2>Subject name: {{academicItem.subjectName}}</h2>
        <p>Exam type: {{academicItem.examType}}</p>
      </div>

      <a class="item assertive">
        Exam date: {{academicItem.examDate}}
      </a>
    </div>
  </ion-content>
</ion-view>
