<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-calm">
    <h1 class="title">Add item</h1>
    <div class="button button-clear" ng-click="addItem.hide()"><span class="icon ion-ios-close-outline"></span></div>
  </ion-header-bar>

  <ion-content>
    <div class="padding">
      <h4>Select a option</h4>
      <div class="row">
        <div class="col col-50">
          <input id="job" type="radio" ng-model="content" value="job">
          <label for="job">Job</label>
        </div>

        <div class="col col-50">
          <input id="academic" type="radio" ng-model="content" value="academic">
          <label for="academic">Academic</label>
        </div>
      </div>


      <div class="wrapper" ng-show="content == 'job'">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Name of post</span>
            <input type="text" placeholder="Name of post" ng-model="job.postName">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Organization's name</span>
            <input type="text" placeholder="Organization name" ng-model="job.organizationName">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Application date</span>
            <input type="text" placeholder="Application date" onfocus="(this.type = 'date')" ng-model="job.applicationDate">
          </label>
          <label class="item item-input item-select item-stacked-label">
            <span class="input-label">Exam type</span>
            <br clear="all"/>
            <select ng-model="job.examType">
              <option value="" hidden>-Exam type-</option>
              <option>Government</option>
              <option>Non Govt.</option>
            </select>
          </label>
          <label class="item item-input item-select item-stacked-label">
            <span class="input-label">Exam level</span>
            <br/>
            <select ng-model="job.examLevel">
              <option value="" hidden>-Exam level-</option>
              <option>Preliminary</option>
              <option>Written</option>
              <option>Viva</option>
            </select>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Exam date</span>
            <input type="text" placeholder="Exam date" onfocus="(this.type = 'date')" ng-model="job.examDate">
          </label>
        </div>
      </div>

      <div class="wrapper" ng-show="content == 'academic'">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Subject name</span>
            <input type="text" placeholder="Subject" ng-model="academic.subjectName">
          </label>
          <label class="item item-input item-select item-stacked-label">
            <span class="input-label">Exam type</span>
            <br clear="all"/>
            <select ng-model="academic.examType">
              <option value="" hidden>-Exam type-</option>
              <option>Class test</option>
              <option>First term</option>
              <option>Mid term</option>
              <option>Final</option>
            </select>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Exam date</span>
            <input type="text" placeholder="Exam date" onfocus="(this.type = 'date')" ng-model="academic.examDate">
          </label>
        </div>
      </div>


      <button class="button button-block button-energized " ng-click="addJobExamItem(job)" ng-show="content == 'job'">
        Add
      </button>

      <button class="button button-block button-energized " ng-click="addAcademicItem(academic)" ng-show="content == 'academic'">
        Add
      </button>
    </div>
  </ion-content>

</ion-modal-view>
