<ion-view title="Government Job Exam" id="governmentJobExam">
  <ion-content padding="true" class="has-header">

    <div ng-show="!jobList">

      <p>No data added</p>

    </div>


    <div class="list card" ng-repeat="item in jobList | filter:{examType:'Government'}">

      <div class="item item-avatar">
        <img src="img/govt.jpg">
        <h2>Post name: {{item.postName}}</h2>
        <p>Organization name: {{item.organizationName}}</p>
        <p>Application date: {{item.applicationDate}}</p>
        <p>Exam level: {{item.examLevel}}</p>
      </div>

      <a class="item assertive">
        Exam date: {{item.examDate}}
      </a>

    </div>
  </ion-content>
</ion-view>
