<ion-view title="Profile" id="profile">
  <ion-content padding="true" class="has-header">
    <ion-item class="item-avatar" id="examReminder-list-item21" data-componentid="list-item21">
      <img src="img/aVYlECQ6RUyBOQQOnmiF_alarmclock.png">
      <h2>{{fullName}}</h2>
    </ion-item>
    <div class="item item-body" id="examReminder-list-item-container9" data-componentid="list-item-container9">
      <div id="examReminder-markdown12" class="show-list-numbers-and-dots" data-componentid="markdown12">
        <p style="margin-top:0px;color:#000000;">Age : {{dateOfBithday}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
