<ion-view title="Registration" id="registration">
  <ion-content padding="true" class="has-header">
    <form id="registration-form2" class="list" >
      <ion-list id="registration-list5">
          <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name" ng-model="user.firstName">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name" ng-model="user.lastName">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Date of birth</span>
            <input type="date" placeholder="Date of birth" ng-model="user.dateOfBirth">
          </label>
      </ion-list>
      <a id="registration-button3" class="button button-calm button-block" ng-click="submitRegistration(user)">Submit</a>

      {{user}}
    </form>
  </ion-content>
</ion-view>
