<ion-view id="page1">
  <ion-tabs class="tabs-striped tabs-stable tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Govt." icon="No Icon" ui-sref=".governmentJobExam" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Non Govt." icon="No Icon" ui-sref=".nonGovernmentJobExam" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Academic" icon="No Icon" ui-sref=".academicExam" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
