<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>



    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>


    <script src="js/directives.js"></script>


    <!-- Only required for Tab projects w/ pages in multiple tabs
    <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
    -->

  </head>
  <body animation="slide-left-right-ios7">
  <div  ng-controller="examReminderCtrl">
  <ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21">
    <ion-side-menu-content>
      <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-ios-plus-outline" ng-click="addItem.show()"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
      <ion-header-bar class="bar-stable bar-calm">
        <div class="title">Exam Reminder</div>
      </ion-header-bar>
      <ion-content padding="false" class="side-menu-left has-header ">
        <div data-componentid="image4">
          <img src="img/T8k6NfwKQMaHFCCiPtbV_logo_examReminder1.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="list card" id="examReminder-card23" data-componentid="card23" ng-repeat="item in user">
          <ion-item class="item-avatar" id="examReminder-list-item21" data-componentid="list-item21">
            <img src="img/aVYlECQ6RUyBOQQOnmiF_alarmclock.png">
            <h2>Name: {{item.firstName}} {{item.lastName}}</h2>
          </ion-item>
          <div class="item item-body" id="examReminder-list-item-container9" data-componentid="list-item-container9">
            <div id="examReminder-markdown12" class="show-list-numbers-and-dots" data-componentid="markdown12">
              <p style="margin-top:0px;color:#000000;">Age : {{item.dateOfBirth}}</p>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus>
</div>
  </body>
</html>
