.platform-ios .manual-ios-statusbar-padding{
  padding-top:20px;
}
.manual-remove-top-padding{
  padding-top:0px;
}
.manual-remove-top-padding .scroll{
  padding-top:0px !important;
}
ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
  margin-left:-10px;
  margin-right:-10px;
}
ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
  border-radius:0px;
  border-left:0px;
  border-right: 0px;
}
.show-list-numbers-and-dots ul{
  list-style-type: disc;
  padding-left:40px;
}
.show-list-numbers-and-dots ol{
  list-style-type: decimal;
  padding-left:40px;
}
.tabs-striped.tabs-stable .tab-item.tab-item-active, .tabs-striped.tabs-stable .tab-item.active, .tabs-striped.tabs-stable .tab-item.activated {
  color: #11c1f3;
  border-color: #11c1f3;
}
.padding{
  padding-left: 5px;
  padding-right: 5px;
}
.bar .title.title-left {
  text-align: center;
}
.radioOption{
  padding: 5px 10px 20px 10px;
}
.ratioItem{
  width: 50%;
}
.item-select.item-stacked-label select{
  padding: 3px;
}
